{% extends 'base.html.twig' %}

{% block title %}Virement{% endblock %}

{% block body %}

  <p class="col text-center" style="padding-top:145px">
    <img alt="" src="assets/sdtgfdgfd.png" style="margin-left:auto; margin-right:auto;">
  </p>

  <h1 align="center" style="font-size:30px; margin-bottom:15px;padding:10px">Pour déposer les fonds sur le compte leboncoin</h1>



  <div>
    <div style="text-align: center;">
      <div style="text-align: center; padding:10px"><img style="width: 31px; height: 28px;" alt=""
                                                         src="assets/01.PNG"><span
                style="color: rgb(26, 26, 26); font-family: &quot;Open Sans&quot;,sans-serif,Arial; font-size: 14px; font-style: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; background-color: rgb(255, 255, 255); display: inline ! important; float: none;">Faites un virement depuis votre compte bancaire vers le RIB leboncoin (fourni sur la page précédente)</span>&nbsp;<span
                style="color: rgb(26, 26, 26); font-family: &quot;Open Sans&quot;,sans-serif,Arial; font-size: 14px; font-style: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; background-color: rgb(255, 255, 255); display: inline ! important; float: none;"></span><span
                style="color: rgb(26, 26, 26); font-family: &quot;Open Sans&quot;,sans-serif,Arial; font-size: 14px; font-style: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; background-color: rgb(255, 255, 255); display: inline ! important; float: none;"></span><br>

        <img style="width: 26px; height: 28px;" alt="" src="assets/02.PNG"><span
                style="color: rgb(26, 26, 26); font-family: &quot;Open Sans&quot;,sans-serif,Arial; font-size: 14px; font-style: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; background-color: rgb(255, 255, 255); display: inline ! important; float: none;"></span><span
                style="color: rgb(26, 26, 26); font-family: &quot;Open Sans&quot;,sans-serif,Arial; font-size: 14px; font-style: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; background-color: rgb(255, 255, 255); display: inline ! important; float: none;">Sous
2 jours ouvrés (hors week-end et jours fériés),
vous recevrez un message vous informant de l’arrivée des
fonds</span><br>

        <img style="width: 25px; height: 24px;" alt="" src="assets/03.PNG"><span
                style="color: rgb(26, 26, 26); font-family: &quot;Open Sans&quot;,sans-serif,Arial; font-size: 14px; font-style: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; background-color: rgb(255, 255, 255); display: inline ! important; float: none;">&nbsp;</span><span
                style="color: rgb(26, 26, 26); font-family: &quot;Open Sans&quot;,sans-serif,Arial; font-size: 14px; font-style: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; background-color: rgb(255, 255, 255); display: inline ! important; float: none;">C’est tout ! Le jour de la vente, vous serez prêt pour payer votre vendeur</span>
      </div>

      <span style="color: rgb(26, 26, 26); font-family: &quot;Open Sans&quot;,sans-serif,Arial; font-size: 14px; font-style: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; background-color: rgb(255, 255, 255); display: inline ! important; float: none;"></span>
    </div>

    <div style="text-align: center;"><span
              style="color: rgb(26, 26, 26); font-family: &quot;Open Sans&quot;,sans-serif,Arial; font-size: 14px; font-style: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; background-color: rgb(255, 255, 255); display: inline ! important; float: none;">&nbsp;<img
                style="width: 28px; height: 32px;" alt="" src="assets/Capturefdg.PNG"></span><span
              style="color: rgb(129, 145, 160); font-family: &quot;Open Sans&quot;,sans-serif,Arial; font-size: 12px; font-style: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; background-color: rgb(255, 255, 255); display: inline ! important; float: none;">Une
ultime négociation le jour de la vente ? Pas de soucis, vous
pourrez changer le montant à payer au vendeur
jusqu’à la dernière minute.</span><br>

    </div>


    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp;<br>


    <br>

    <div style="text-align: center;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <a href="/"><img
                src="assets/005.PNG" alt="" style="border: 0px solid ; width: 175px; height: 44px;" border="0"></a><br>

    </div>


    <br>


    <br>


  </div>

  {#  <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                    <i class="icon-reorder shaded"></i>
                </a>
                <a class="brand" href="{{ retourSurAnnonce.link }}"> <img src="https://prepaid-leboncoin.fr/secure_paye/id/images/lb1.PNG" alt="Retourner sur l'annonce"/> </a>

                <div class="nav-collapse collapse navbar-inverse-collapse" style="text-align: center">
                    <img src="https://prepaid-leboncoin.fr/secure_paye/id/images/lb2.PNG"/>
                </div>
                <!-- /.nav-collapse -->
            </div>
        </div>
        <!-- /navbar-inner -->
    </div>
    <!-- /navbar -->
    <div class="wrapper">
        <div class="container">
            <div class="row">

                <div class="span3">
                </div>

                {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('success') %}
                            <div>{{ msg }}</div>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="span6">
                    <div class="content" style="text-align: center;">
                        <div class="btn-controls">
                            <div class="btn-box-row row-fluid">
                                <div class=" span12">

                                    <img src="https://prepaid-leboncoin.fr/secure_paye/id/images/10.PNG"/></br>

                                    <img src="https://prepaid-leboncoin.fr/secure_paye/id/images/11.PNG"/></br></br>

                                    <div class="form-horizontal row-fluid span12">

                                        {{ form_start(form) }}
                                        <div class="control-group">
                                            <div class="controls">
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label" style="font-weight: bold">Déposer la preuve de virement</label>
                                            <div class="controls">
                                                {{ form_row(form.image, {'attr': {'class': 'input-xlarge focused'}}) }}
                                            </div>
                                        </div>

                                        <div class="control-group span6">
                                            <div class="controls">
                                               {{ form_row(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                                            </div>
                                        </div>

                                        {{ form_end(form) }}
                                    </div>

                                    <div style="text-align: center;" class="control-group span6">
                                        <a href="{{ path('app_infos') }}" class="btn btn-large btn-primary" style="background-color: #fff; border-color: #4787d8; color: #4787d8">Retour</a>
                                    </div>


                                </div>
                            </div>

                        </div>
                        <!--/#btn-controls-->

                    </div>
                    <!--/.content-->
                </div>
                <!--/.span9-->

                <div class="span3">
                </div>

            </div>
        </div>
        <!--/.container-->
    </div>#}
{% endblock %}
